*{
  box-sizing: border-box;
}

.container-faq{
  width: 100%;
}

.main-text{
  justify-content: center;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.footer{
  display: flex;
  background-color: rgb(107, 55, 148);
  align-items: stretch;
  justify-content: center;
  margin-top: 20px;
  padding: 40px;
}

.footer a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-right: 25px;
}
