.settings {
  width: 100%;
  border: 2px black solid;
  margin: 0 2.5%;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}

.user-information ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
